{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Img</h1>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic dolorum commodi doloribus debitis inventore omnis
        mollitia accusamus, exercitationem ipsam deleniti corporis, laudantium quisquam quos, obcaecati esse rem
        asperiores illum excepturi.
    </div>
    <div class="col-4">
        <img src="assets/imgs/test.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}